# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.env.*
!.env.example
!.env.production.example
venv/

# Node
node_modules/
dist/
build/

# Django
staticfiles/
media/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.vscode/
.idea/

# Other
.DS_Store
